Source: numix-icon-theme-circle
Section: gnome
Priority: optional
Maintainer: James Lu <bitflip3@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.1
Homepage: https://github.com/numixproject/numix-icon-theme-circle
Vcs-Git: https://github.com/utopia-repository/numix-icon-theme-circle
Vcs-Browser: https://github.com/utopia-repository/numix-icon-theme-circle

Package: numix-icon-theme-circle
Architecture: all
Depends: ${misc:Depends}, numix-icon-theme
Description: Circle icon theme from the Numix project
 Numix Circle is an icon theme using simple symbols and vivid background for a
 fresh, swishy, and modern look.
